<!DOCTYPE html>
<html lang="fa">
<head>
    <%- include("./templates/head.ejs", {title : "داشبورد | Willi RolePlay"}) -%>
</head>
<body class="bg-gray-900 text-white">
<%- include("./templates/header.ejs") -%>

<div class="flex flex-row-reverse m-10 justify-between">
    <%- include("./templates/dashboard-sideBar.ejs", {active : "support"}) %>

    <div class="bg-gray-800 w-3/4 rounded-xl shadow-2xl h-[80vh]">

<!--        Header of ticket box-->
        <div dir="rtl" class="m-5 px-5 flex justify-between items-center">
            <p class="font-bold text-xl"><%= ticket.subject %></p>
            <div class="flex flex-row-reverse items-center">
                <p dir="ltr" class="text-gray-400 mr-3"># <%=ticket.id%></p>
                <% if(ticket.status != "بسته شده"){ %>
                    <span class="border-r-gray-700 border-r-2 ml-3"></span>
                    <form method="post" action="/dashboard/support/<%=ticket.id%>?action=close">
                        <button type="submit" class="bg-red-600 rounded-md px-3 py-2 mr-3 text-white">بستن تیکت</button>
                    </form>
                <% } %>
            </div>
        </div>
        <span class="border-b-gray-700 border-b-2 block mx-10 mt-5"></span>

<!--        Message section-->
        <div class="bg-gray-900 rounded-xl mx-10 my-5 h-3/4 overflow-y-scroll shadow-xl flex flex-col">
            <% ticket.messages.forEach(message => { %>
                <% if(message.sender == ticket.user){ %>

                    <div>
                        <p class="bg-gray-600 float-right m-3 p-3 rounded-xl rounded-br-none" dir="rtl" ><%=message.text%></p>
                    </div>

                <% }else{ %>

                    <div>
                        <p class="bg-blue-500 float-left m-3 p-3 rounded-xl rounded-bl-none" dir="rtl"><%= message.text %></p>
                    </div>

                <% } %>
            <% }) %>
        </div>

<!--        Input section-->
        <% if(ticket.status != "بسته شده"){ %>
            <form class="mx-10 flex justify-between flex-row-reverse items-center" method="post" action="/dashboard/support/<%=ticket.id%>?action=message">
                <input name="text" class="outline-none p-3 w-5/6 rounded-xl bg-gray-900 " placeholder="پیام خود را بنویسید..." dir="rtl">
                <button type="submit" class="bg-green-600 rounded-md px-12 py-3">ارسال</button>
            </form>
        <% } %>
    </div>
</div>

</body>
</html>