<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./templates/head.ejs", {title : "داشبورد | Willi RolePlay"}) -%>
</head>
<body class="bg-gray-900 text-white">
  <%- include("./templates/header.ejs") -%>

  <% if(!mta){ %>

    <div class="flex justify-center items-start mt-5">
      <h1 dir="rtl" class="bg-red-600 bg-opacity-25 py-5 px-16 inline rounded-xl border-2 border-red-950 font-bold">اکانت MTA شما به سایت متصل نیست.
        <a class="text-blue-600 underline underline-offset-4 font-normal mr-2" dir="rtl" href="#">متصل کنید</a>
      </h1>
    </div>

  <% } %>

  <div class="flex flex-row-reverse m-10 justify-between">

    <%- include("./templates/dashboard-sideBar.ejs") %>

    <ul class="flex justify-center items-center h-[100px]">
      <li class="bg-red-700 bg-opacity-50 w-72 h-32 mr-10 rounded-xl flex flex-col justify-between px-4 py-2">
        <p class="font-bold text-2xl text-right">پول نقد</p>
        <p class="text-gray-300 text-xl"><%= totals.money %>$</p>
      </li>

      <li class="bg-red-700 bg-opacity-50 w-72 h-32 mr-10 rounded-xl flex flex-col justify-between px-4 py-2">
        <p class="font-bold text-2xl text-right">حساب بانکی</p>
        <p class="text-gray-300 text-xl"><%= totals.bankMoney %>$</p>
      </li>

      <li class="bg-red-700 bg-opacity-50 w-72 h-32 mr-10 rounded-xl flex flex-col justify-between px-4 py-2">
        <p class="font-bold text-2xl text-right">وضعیت بدنی</p>
        <p class="text-gray-300 text-xl" dir="rtl"><%= characters[0].health %>% سالم</p>
      </li>

      <li class="bg-red-700 bg-opacity-50 w-72 h-32 mr-10 rounded-xl flex flex-col justify-between px-4 py-2">
        <p class="font-bold text-2xl text-right">تعداد کاراکتر ها</p>
        <p class="text-gray-300 text-xl" dir="rtl"><%= characters.length %> کاراکتر</p>
      </li>
    </ul>

  </div>

</body>
</html>