<!DOCTYPE html>
<html lang="fa">
<head>
    <%- include("./templates/head.ejs", {title : "داشبورد | Willi RolePlay"}) -%>
</head>
<body class="bg-gray-900 text-white">
    <%- include("./templates/header.ejs") -%>

    <div class="flex flex-row-reverse m-10 justify-between">
        <%- include("./templates/dashboard-sideBar.ejs") %>

        <div class="bg-gray-800 w-3/4 rounded-xl shadow-2xl h-[80vh]">
            <div dir="rtl" class="m-5">
                <button class="bg-green-600 px-5 py-3 rounded-md">تیکت جدید</button>
            </div>
            <% if(tickets && tickets[0]){ %>
                <ul class="overflow-y-scroll h-5/6 mt-10">
                    <% tickets.forEach(ticket => { %>
                        <li class="flex justify-between m-3 mx-9 p-3 hover:bg-gray-700 rounded-xl cursor-pointer">
                            <div class="flex items-center">
                                <% if(ticket.status=="خوانده نشده"){ %>
                                    <small class="bg-yellow-600 p-2 rounded-md"><%=ticket.status%></small>
                                <% } %>
                            </div>
                            <div>
                                <p class="font-bold text-lg"> <%= ticket.subject %> </p>
                                <p dir="rtl" class="text-right text-gray-400"> <%= ticket.id %> #</p>
                            </div>
                        </li>
                        <span class="border-b-gray-700 border-b-2 block mx-10"></span>
                    <% }) %>
                </ul>
            <% }else{ %>
                <h2 class="text-3xl text-red-600 font-bold text-center" dir="rtl">تیکتی ثبت نشده.</h2>
            <% } %>
        </div>
    </div>
</body>
</html>