<!DOCTYPE html>
<html lang="fa">
<head>
  <%- include("./templates/head.ejs", {title : "Willi RolePlay | Iranian RolePlay Server", css : ['homePage.css']}) %>
</head>
<body>
  <%- include("./templates/header.ejs") %>

  <%- include("./templates/heroSection.ejs") -%>

  <%- include("./templates/offer.ejs") -%>

  <%- include("./templates/options.ejs") -%>

  <%- include("./templates/shopCollection.ejs") -%>

  <%- include("./templates/footer.ejs") %>
</body>
</html>