<!DOCTYPE html>
<html lang="fa">
<head>
  <%- include("./templates/head.ejs", {title : "Willi RolePlay | Iranian RolePlay Server", css : ['homePage.css']}) %>
</head>
<body>
  <%- include("./templates/header.ejs") %>

  <%- include("./templates/heroSection.ejs") -%>

  <%- include("./templates/offer.ejs") -%>

  <%- include("./templates/options.ejs") -%>

  <div class="bg-gray-800 py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-lg px-4 md:px-8">
      <!-- text - start -->
      <div class="mb-8 md:mb-12">
        <h2 class="mb-4 text-center text-2xl font-bold text-white md:mb-6 lg:text-3xl">وضعیت کنونی سرور</h2>
      </div>
      <!-- text - end -->
  
      <div class="grid grid-cols-2 gap-6 rounded-lg bg-indigo-500 p-6 md:grid-cols-4 md:gap-8 md:p-8">
        <!-- stat - start -->
        <div class="flex flex-col items-center">
          <div class="text-xl font-bold text-white sm:text-2xl md:text-3xl">200</div>
          <div class="text-sm text-indigo-200 sm:text-base">پلیر آنلاین</div>
        </div>
        <!-- stat - end -->
  
        <!-- stat - start -->
        <div class="flex flex-col items-center">
          <div class="text-xl font-bold text-white sm:text-2xl md:text-3xl">500+</div>
          <div class="text-sm text-indigo-200 sm:text-base">پلیر ثبت نام شده</div>
        </div>
  
        <!-- stat - start -->
        <div class="flex flex-col items-center">
          <div class="text-xl font-bold text-white sm:text-2xl md:text-3xl">1000+</div>
          <div class="text-sm text-indigo-200 sm:text-base">ساعت بازی شده</div>
        </div>
        <!-- stat - end -->
  
        <!-- stat - start -->
        <div class="flex flex-col items-center">
          <div class="text-xl font-bold text-white sm:text-2xl md:text-3xl">آنلاین</div>
          <div class="text-sm text-indigo-200 sm:text-base">وضعیت</div>
        </div>
        <!-- stat - end -->
      </div>
    </div>

  <%- include("./templates/shopCollection.ejs") -%>

  <%- include("./templates/footer.ejs") %>
</body>
</html>